let correctGuesses = 0;
let badge; 


const mainElm = document.querySelector('main');



const word1 = promt("Guess What is my favorite color?");
if ( word1.toUpperCase() === "Yellow" ) {
    correctGuesses += 1;
}
const word2 = prompt("Guess how old I am.");
if ( word2.toUpperCase() === "24" ) {
    correctGuesses += 1;
}
const word1 = promt("Guess My Favorite type of movie");
if ( word3.toUpperCase() === "Invisible Man" ) {
    correctGuesses += 1;
}
const word1 = promt("Guess What is my Favorite food");
if ( word4.toUpperCase() === "Fruit" ) {
    correctGuesses += 1;
}
const word1 = promt("Guess What Company I want to work for.");
if ( word5.toUpperCase() === "Google" ) {
    correctGuesses += 1;
}


if ( correctGuesses === 5 ) {
    badge = "Diamond";
} else if ( correctGuesses >= 3 ) {
    badge = "Gold";
} else if ( correctGuesses >= 1 ) {
    badge = "Silver";
} else {
    badge = "None :)";
}

 
mainElm.innerHTML = `
<h1>You got ${correctGuesses} out of 5 words guessed correct.</h1>
<H2>Badge earned: <u>{badge}</u></h2>



<div class="row">
  <div class="column">
    <img src="img_snow.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="img_forest.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
`;

<button onclick="aboutjala()">Question 1</button>
    <button onclick="aboutjala()">Question 2</button>
    <button onclick="aboutjala()">Question 3</button>
    <button onclick="aboutjala()">Question 4</button>
    <button onclick="aboutjala()">Question 5</button>